

#escolas
{
    margin-top: 0vh;
    margin-bottom: 4%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#item_1
{
    background-image: url(../img/SUPREMO\ VÔLEI.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#item_2
{
    background-image: url(../img/KALIL\ VOLEI.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#item_3
{
    background-image: url(../img/CONSTRUIR\ VÔLEI.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#item_4
{
    background-image: url(../img/CRESCER\ ESPORTES.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#info_escola {
    width: 31%;
    padding: 10px;
    margin-left: 17%;
    font-family: "Montserrat", sans-serif;
    color: rgb(31, 84, 124); 
}
.info-texto div {
    text-align: justify;
    text-indent: 0px !important;
}

.info-texto h2 {
    text-align: left;
}

/* ---- itens das escolas ---- */
.iten_escola {
    width: 11vw;
    height: 10vh;
    text-align: center;
    padding: 40px;
    margin: 0.9%;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------- INFO + IMAGEM ---------- */
.info-conteudo {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 70vw;
    margin-left: -55%;
    /* estado inicial da animação */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .6s ease, transform .6s ease;
}

p {
    color: rgb(31, 84, 124) !important;
    font-weight: normal !important;
}

/* quando ativar a animação */
.info-conteudo.ativo {
    opacity: 1;
    transform: translateY(0);
}

.info-conteudo div { 
    width: 80vw;
    height: 55vh; 
}

.info-imagem { 
    border: 2px solid rgb(31, 84, 124);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
    html, body {overflow-x: hidden;}
    #escolas { flex-direction: column; gap: 15px; margin-top: 5vh; }
    .iten_escola { width: 85vw; height: 24vh; margin: 10px auto; padding: 0; }
    #info_escola { width: 90%; margin: 10px auto; font-size: 0.9rem; }
    .info-conteudo { flex-direction: column; gap: 15px; width: 100%; margin: 0; }
    .info-conteudo div { width: 100%; }
    .info-imagem { width: 100%; text-align: center; }
    .imagem-escola { width: 80%; height: auto; }
}
footer {
    margin-top: 8.2%;
}
